
body::-webkit-scrollbar{
    width: 13px;
    background-color: #88456a4d;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: #88456acb;
    border-radius: 7px;
    border: 1px solid #572c44;
  }
  
  body::-webkit-scrollbar-thumb:hover{
    background-color: #88456a;
  
  }
  